
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  background-color: lightcoral;
}

.matrix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: lightcoral;
  height: 600px;
  width: 600px;
  border: white;
  opacity: 1;
}

@keyframes green-cell {
  from {
    height: 0px;
    width: 0px;
  }
  to {
    height: 27px;
    width: 27px;
  }
}

.cell {
  height: 58px;
  width: 58px;
  margin: auto;
  background: lightcyan;
  border-color: lightcoral;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
}

.cell:hover {
  background-color: white;
}

.green {
  background-color: lightgreen;
}
.yellow {
  background-color: crimson;
}

.coral {
  background-color: coral;
}

.cube {
  position: relative;
  z-index: 2;
  height: 27px;
  width: 27px;
  margin: 1px;
  animation-duration: 500ms;
  animation-name: green-cell;
  animation-timing-function: ease-out;
}

