.root {

}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}
.game-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  height: 600px;
  width: 600px;
  border: white;
}

.cell {
  height: 58px;
  width: 58px;
  margin: auto;
  background: lightcyan;
  align-items: center;
  border-color: white;
  text-align: center;
}

.cell:hover {
  background-color: coral;
  opacity: .5;
}

.content {
  position: relative;
  top: 14px;
  opacity: .2;
  font-family: "Arial Narrow";
  font-size: 26px;
  color: coral;
  vertical-align: middle;
}

.content:hover {
  color: lightcyan;
}