body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: floralwhite;
  letter-spacing: .2em;
}

#anchor {
  width: 100%;
  align-self: flex-start;
  justify-content: center;
}

.logo {
}

.logo a img {
  visibility: hidden;
  align-self: flex-end;
  height: 15px;
  width: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.subheader {
  align-self: center;
}

.header {
  margin-top: 60px;
  align-self: center;
  position: relative;
  font-size: 4rem;
  font-weight: 500;
  color: coral;
  text-shadow: 2px 3px black;
  font-family: Roboto, Arial, sans-serif;
}

.matrix {
  background: white;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 38em;
  width: 36em;
  opacity: 1;
  padding: 1em;
  border: solid 1px black;
  border-radius: 5px;
}

@keyframes cell {
  from {
    background-color: white;
    position: relative;
    left: 7px;
    top: 7px;
  }
  to {
    height: 24px;
    width: 24px;
  }
}

.cell {
  height: 3.5em;
  width: 3.5em;
  margin: auto;
  background: paleturquoise;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  overflow: hidden;
  // border: 1px solid black;
  box-shadow: 1px 1px 1px 0px #7f7f7f;
  transition-delay: 500ms;
}

.cell:hover {
  background-color: white;
  transition-delay: unset;
}

.green {
  background-color: cornflowerblue;
}

.crimson {
  background-color: lightsalmon;
}

.spacer {
}

.coral {
  background-color: coral;
}

.cube {
  overflow: hidden;
  position: relative;
  z-index: 2;
  height: 26px;
  width: 26px;
  margin: 1px;
  margin-bottom: 1.5px;
  transition: 0.15s;
  transition-delay: 500ms;
  box-shadow: .5px .5px .5px 0 #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  align-self: center;
}

.copy {
  height: 18px;
  text-decoration: none;
  text-shadow: none;
  color: black;
  opacity: .7;
  font-weight: 100;
  font-size: medium;
  letter-spacing: .025em;
  align-self: flex-end;
  animation-delay: 2s;
}

.content {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
